@mixin desktopOffset {
    padding-left: 11.25rem;
    padding-right: 11.25rem;
}

@mixin tabletOffset {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@mixin mobile {
    padding-left: 1rem;
    padding-right: 1rem;
}